body{
  background-color:#ffffff;

  margin-right:100px;
  margin-left:100px;
  margin-bottom:200px;

  width:800px;
}

canvas{
  margin-top:0px;
  margin-bottom:0px;
}

#scoreBoard{
 text-align:right;
}